{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post-bg.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>What are a few examples of small, good tech blogs?
              </h1>
              <span class="subheading">-R. Sriniketan</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>It’s hard to remember a world without blogs. Originally a sort of online journal full of mundane personal updates, web logs have morphed into an extremely powerful form of communication.

            They were once shunned by the mainstream — now they are the mainstream.
            
            Whether it’s breaking tech news, an insider’s point of view, or irreverent humor you’re seeking, there are an infinite number of blogs on any subject whose authors will be happy to oblige.
            
            It shouldn’t be any surprise that the tech world embraced the blogosphere far before every newspaper in the country started making their writers blog alongside their standard news stories. As a result, there are blogs that are so great, so informative, so current — you’d be lost in your tech career without them.</p>
          <p>There are new things coming out every day to help you lower costs, get more customers, and improve your overall business health. If you’re not staying on top of new technology, know that your competitors definitely are.

            Another bonus? Following tech blogs gives you a steady stream of great ideas that may serve as inspiration for your next million-dollar project. Keep in mind, the closer you are to innovation the more innovative you become!
            
            </p>
        </div>
      </div>
    </div>

   {% endblock %}
